<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentplayer</key>
	<integer>0</integer>
	<key>effect</key>
	<false/>
	<key>lockchar0</key>
	<false/>
	<key>lockchar1</key>
	<true/>
	<key>lockchar2</key>
	<true/>
	<key>lockchar3</key>
	<true/>
	<key>lockchar4</key>
	<true/>
	<key>lockchar5</key>
	<true/>
	<key>lockchar6</key>
	<true/>
	<key>lockchar7</key>
	<true/>
	<key>lockchar8</key>
	<true/>
	<key>lockchar9</key>
	<true/>
	<key>myboostcoin</key>
	<integer>0</integer>
	<key>myskipcoin</key>
	<integer>0</integer>
	<key>purchasedallopencoin</key>
	<false/>
	<key>music</key>
	<false/>
	<key>mypc</key>
	<integer>0</integer>
	<key>stage0</key>
	<false/>
	<key>stage1</key>
	<true/>
	<key>stage2</key>
	<true/>
	<key>stage3</key>
	<true/>
	<key>stage4</key>
	<true/>
	<key>stage5</key>
	<true/>
	<key>stage6</key>
	<true/>
	<key>stage7</key>
	<true/>
	<key>stage8</key>
	<true/>
	<key>stage9</key>
	<true/>
	<key>stage10</key>
	<true/>
	<key>stage11</key>
	<true/>
	<key>stage12</key>
	<true/>
	<key>stage13</key>
	<true/>
	<key>stage14</key>
	<true/>
	<key>stage15</key>
	<true/>
	<key>stage16</key>
	<true/>
	<key>stage17</key>
	<true/>
	<key>stage18</key>
	<true/>
	<key>stage19</key>
	<true/>
	<key>stage20</key>
	<true/>
	<key>stage21</key>
	<true/>
	<key>stage22</key>
	<true/>
	<key>stage23</key>
	<true/>
	<key>stage24</key>
	<true/>
	<key>stage25</key>
	<true/>
	<key>stage26</key>
	<true/>
	<key>stage27</key>
	<true/>
	<key>stage28</key>
	<true/>
	<key>stage29</key>
	<true/>
	<key>stage30</key>
	<true/>
	<key>stage31</key>
	<true/>
	<key>stage32</key>
	<true/>
	<key>stage33</key>
	<true/>
	<key>stage34</key>
	<true/>
	<key>isentergame</key>
	<false/>
	<key>currentstage</key>
	<integer>0</integer>
	<key>score_stage0</key>
	<integer>0</integer>
	<key>score_stage1</key>
	<integer>0</integer>
	<key>score_stage2</key>
	<integer>0</integer>
	<key>score_stage3</key>
	<integer>0</integer>
	<key>score_stage4</key>
	<integer>0</integer>
	<key>score_stage5</key>
	<integer>0</integer>
	<key>score_stage6</key>
	<integer>0</integer>
	<key>score_stage7</key>
	<integer>0</integer>
	<key>score_stage8</key>
	<integer>0</integer>
	<key>score_stage9</key>
	<integer>0</integer>
	<key>score_stage10</key>
	<integer>0</integer>
	<key>score_stage11</key>
	<integer>0</integer>
	<key>score_stage12</key>
	<integer>0</integer>
	<key>score_stage13</key>
	<integer>0</integer>
	<key>score_stage14</key>
	<integer>0</integer>
	<key>score_stage15</key>
	<integer>0</integer>
	<key>score_stage16</key>
	<integer>0</integer>
	<key>score_stage17</key>
	<integer>0</integer>
	<key>score_stage18</key>
	<integer>0</integer>
	<key>score_stage19</key>
	<integer>0</integer>
	<key>score_stage20</key>
	<integer>0</integer>
	<key>score_stage21</key>
	<integer>0</integer>
	<key>score_stage22</key>
	<integer>0</integer>
	<key>score_stage23</key>
	<integer>0</integer>
	<key>score_stage24</key>
	<integer>0</integer>
	<key>score_stage25</key>
	<integer>0</integer>
	<key>score_stage26</key>
	<integer>0</integer>
	<key>score_stage27</key>
	<integer>0</integer>
	<key>score_stage28</key>
	<integer>0</integer>
	<key>score_stage29</key>
	<integer>0</integer>
	<key>score_stage30</key>
	<integer>0</integer>
	<key>score_stage31</key>
	<integer>0</integer>
	<key>score_stage32</key>
	<integer>0</integer>
	<key>score_stage33</key>
	<integer>0</integer>
	<key>score_stage34</key>
	<integer>0</integer>
</dict>
</plist>
