<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_timer.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1604},{288,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,109}}</string>
                <key>sourceSize</key>
                <string>{288,109}</string>
            </dict>
            <key>btn_power.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1894},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{164,144}</string>
            </dict>
            <key>coin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,1796},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>icon_skip_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,1706},{88,66}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,19},{88,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_speed_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,1604},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,1840},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>skistation.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1600,478}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1600,478}}</string>
                <key>sourceSize</key>
                <string>{1600,478}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_gamepack-hd.pvr</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:838b1b078daa81775cb3834b5938168d:1/1$</string>
            <key>textureFileName</key>
            <string>atlas_gamepack-hd.pvr</string>
        </dict>
    </dict>
</plist>
