<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>allopen_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>skip_coin0.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,94},{84,82}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{84,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>skip_coin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,374},{84,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{84,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>skip_coin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,286},{86,78}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{86,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>speed_coin0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{72,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{72,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>speed_coin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{72,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{72,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>speed_coin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{82,92}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{82,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>store_dragon00.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,180},{84,76}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,14},{84,76}}</string>
                <key>sourceSize</key>
                <string>{130,90}</string>
            </dict>
            <key>store_dragon01.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,266},{84,76}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,14},{84,76}}</string>
                <key>sourceSize</key>
                <string>{130,90}</string>
            </dict>
            <key>store_dragon02.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,180},{84,76}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,14},{84,76}}</string>
                <key>sourceSize</key>
                <string>{130,90}</string>
            </dict>
            <key>store_dragon03.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{84,76}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,14},{84,76}}</string>
                <key>sourceSize</key>
                <string>{130,90}</string>
            </dict>
            <key>store_dragon10.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,196},{84,88}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{84,88}}</string>
                <key>sourceSize</key>
                <string>{130,90}</string>
            </dict>
            <key>store_dragon11.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{84,90}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{84,90}}</string>
                <key>sourceSize</key>
                <string>{130,90}</string>
            </dict>
            <key>store_dragon12.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,104},{84,90}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{84,90}}</string>
                <key>sourceSize</key>
                <string>{130,90}</string>
            </dict>
            <key>store_dragon13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{84,90}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{84,90}}</string>
                <key>sourceSize</key>
                <string>{130,90}</string>
            </dict>
            <key>store_dragon20.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,86},{78,80}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{78,80}}</string>
                <key>sourceSize</key>
                <string>{130,90}</string>
            </dict>
            <key>store_dragon21.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{78,82}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,8},{78,82}}</string>
                <key>sourceSize</key>
                <string>{130,90}</string>
            </dict>
            <key>store_dragon22.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,352},{76,82}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,8},{76,82}}</string>
                <key>sourceSize</key>
                <string>{130,90}</string>
            </dict>
            <key>store_dragon23.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,88},{78,82}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,8},{78,82}}</string>
                <key>sourceSize</key>
                <string>{130,90}</string>
            </dict>
            <key>store_dragon30.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{78,78}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,12},{78,78}}</string>
                <key>sourceSize</key>
                <string>{130,90}</string>
            </dict>
            <key>store_dragon31.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{78,78}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,12},{78,78}}</string>
                <key>sourceSize</key>
                <string>{130,90}</string>
            </dict>
            <key>store_dragon32.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,172},{78,80}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,10},{78,80}}</string>
                <key>sourceSize</key>
                <string>{130,90}</string>
            </dict>
            <key>store_dragon33.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,266},{78,80}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,10},{78,80}}</string>
                <key>sourceSize</key>
                <string>{130,90}</string>
            </dict>
            <key>store_dragon40.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,436},{74,76}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,14},{74,76}}</string>
                <key>sourceSize</key>
                <string>{130,90}</string>
            </dict>
            <key>store_dragon41.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,230},{72,76}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,14},{72,76}}</string>
                <key>sourceSize</key>
                <string>{130,90}</string>
            </dict>
            <key>store_dragon42.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,156},{72,78}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,12},{72,78}}</string>
                <key>sourceSize</key>
                <string>{130,90}</string>
            </dict>
            <key>store_dragon43.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,82},{72,78}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,12},{72,78}}</string>
                <key>sourceSize</key>
                <string>{130,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_store.pvr</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18ccb8ce53a59a8e513fab9f9521ddde:1/1$</string>
            <key>textureFileName</key>
            <string>atlas_store.pvr</string>
        </dict>
    </dict>
</plist>
