<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,440},{40,320}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{40,320}}</string>
                <key>sourceSize</key>
                <string>{54,320}</string>
            </dict>
            <key>btn_archivement.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,912},{86,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{86,84}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,440},{144,92}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{144,92}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>btn_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,586},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>btn_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,442},{364,110}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{364,110}}</string>
                <key>sourceSize</key>
                <string>{370,114}</string>
            </dict>
            <key>btn_continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,2},{62,80}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,19},{62,80}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>btn_email.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,824},{86,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{86,84}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>btn_facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,734},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>btn_gamecenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,586},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>btn_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,440},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>btn_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,368},{68,72}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{68,72}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>btn_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,912},{84,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,84}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>btn_nextstage.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{66,64}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,27},{66,64}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>btn_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,2},{296,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,15},{296,92}}</string>
                <key>sourceSize</key>
                <string>{300,120}</string>
            </dict>
            <key>btn_play_now.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,300},{194,66}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{194,66}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>btn_replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,824},{78,86}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{78,86}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>btn_restore.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{200,68}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{200,68}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>btn_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{370,94}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{370,94}}</string>
                <key>sourceSize</key>
                <string>{370,114}</string>
            </dict>
            <key>btn_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,2},{82,84}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{82,84}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>btn_store.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,440},{296,94}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,19},{296,94}}</string>
                <key>sourceSize</key>
                <string>{300,120}</string>
            </dict>
            <key>btn_title_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,922},{81,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,95}}</string>
                <key>sourceSize</key>
                <string>{81,95}</string>
            </dict>
            <key>btn_title_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>btn_unlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{364,108}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{364,108}}</string>
                <key>sourceSize</key>
                <string>{370,114}</string>
            </dict>
            <key>btn_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,676},{68,56}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{68,56}}</string>
                <key>sourceSize</key>
                <string>{94,64}</string>
            </dict>
            <key>help_ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,762},{256,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{256,96}}</string>
                <key>sourceSize</key>
                <string>{256,100}</string>
            </dict>
            <key>help_touchme.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,738},{170,182}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{170,182}}</string>
                <key>sourceSize</key>
                <string>{184,190}</string>
            </dict>
            <key>icon_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,368},{68,68}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,24},{68,68}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,368},{70,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,82}}</string>
                <key>sourceSize</key>
                <string>{70,82}</string>
            </dict>
            <key>ropeway1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{169,438}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,6},{169,438}}</string>
                <key>sourceSize</key>
                <string>{227,450}</string>
            </dict>
            <key>ropeway2.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,2},{113,294}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{113,294}}</string>
                <key>sourceSize</key>
                <string>{143,300}</string>
            </dict>
            <key>selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,442},{357,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,64}}</string>
                <key>sourceSize</key>
                <string>{357,64}</string>
            </dict>
            <key>share_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,298},{78,68}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{78,68}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>ss_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,922},{62,100}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{62,100}}</string>
                <key>sourceSize</key>
                <string>{74,110}</string>
            </dict>
            <key>ss_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,922},{62,100}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{62,100}}</string>
                <key>sourceSize</key>
                <string>{74,110}</string>
            </dict>
            <key>stop_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,530},{54,56}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,14},{54,56}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>tab_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,801},{196,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{196,70}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>tab_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,368},{196,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{196,70}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>tab_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,808},{196,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{196,70}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>tab_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,814},{196,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{196,70}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_common-hd.pvr</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b081227d38138bb328a324de2533dda:1/1$</string>
            <key>textureFileName</key>
            <string>atlas_common-hd.pvr</string>
        </dict>
    </dict>
</plist>
