<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon00.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{84,76}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{84,76}}</string>
                <key>sourceSize</key>
                <string>{130,90}</string>
            </dict>
            <key>dragon01.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{84,76}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{84,76}}</string>
                <key>sourceSize</key>
                <string>{130,90}</string>
            </dict>
            <key>dragon02.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,368},{84,76}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,14},{84,76}}</string>
                <key>sourceSize</key>
                <string>{130,90}</string>
            </dict>
            <key>dragon03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{84,76}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,14},{84,76}}</string>
                <key>sourceSize</key>
                <string>{130,90}</string>
            </dict>
            <key>dragon10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{84,88}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{84,88}}</string>
                <key>sourceSize</key>
                <string>{130,90}</string>
            </dict>
            <key>dragon11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{84,90}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{84,90}}</string>
                <key>sourceSize</key>
                <string>{130,90}</string>
            </dict>
            <key>dragon12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{84,90}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{84,90}}</string>
                <key>sourceSize</key>
                <string>{130,90}</string>
            </dict>
            <key>dragon13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,90}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{84,90}}</string>
                <key>sourceSize</key>
                <string>{130,90}</string>
            </dict>
            <key>dragon20.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,238},{78,80}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{78,80}}</string>
                <key>sourceSize</key>
                <string>{130,90}</string>
            </dict>
            <key>dragon21.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{78,82}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,8},{78,82}}</string>
                <key>sourceSize</key>
                <string>{130,90}</string>
            </dict>
            <key>dragon22.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,80},{76,82}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,8},{76,82}}</string>
                <key>sourceSize</key>
                <string>{130,90}</string>
            </dict>
            <key>dragon23.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{78,82}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,8},{78,82}}</string>
                <key>sourceSize</key>
                <string>{130,90}</string>
            </dict>
            <key>dragon30.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,160},{78,78}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,12},{78,78}}</string>
                <key>sourceSize</key>
                <string>{130,90}</string>
            </dict>
            <key>dragon31.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,82},{78,78}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,12},{78,78}}</string>
                <key>sourceSize</key>
                <string>{130,90}</string>
            </dict>
            <key>dragon32.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,158},{78,80}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,10},{78,80}}</string>
                <key>sourceSize</key>
                <string>{130,90}</string>
            </dict>
            <key>dragon33.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,80},{78,80}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,10},{78,80}}</string>
                <key>sourceSize</key>
                <string>{130,90}</string>
            </dict>
            <key>dragon40.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,162},{74,76}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,14},{74,76}}</string>
                <key>sourceSize</key>
                <string>{130,90}</string>
            </dict>
            <key>dragon41.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,230},{72,76}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,14},{72,76}}</string>
                <key>sourceSize</key>
                <string>{130,90}</string>
            </dict>
            <key>dragon42.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,156},{72,78}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,12},{72,78}}</string>
                <key>sourceSize</key>
                <string>{130,90}</string>
            </dict>
            <key>dragon43.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,82},{72,78}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,12},{72,78}}</string>
                <key>sourceSize</key>
                <string>{130,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_dragon-hd.pvr</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ba65e2f7762e13d3663a4a7931c4919:1/1$</string>
            <key>textureFileName</key>
            <string>atlas_dragon-hd.pvr</string>
        </dict>
    </dict>
</plist>
