<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_timer.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1028},{144,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,55}}</string>
                <key>sourceSize</key>
                <string>{144,55}</string>
            </dict>
            <key>btn_power.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1028},{58,24}}</string>
                <key>offset</key>
                <string>{-12,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{58,24}}</string>
                <key>sourceSize</key>
                <string>{82,72}</string>
            </dict>
            <key>coin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1054},{21,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{21,19}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>icon_skip_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1046},{34,12}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,20},{34,12}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>icon_speed_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1028},{34,16}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{34,16}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1054},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>skistation.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,239}}</string>
                <key>sourceSize</key>
                <string>{1024,239}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_gamepack.pvr</string>
            <key>size</key>
            <string>{256,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4eafebed3a634c7f6dfbd078496c63d2:1/1$</string>
            <key>textureFileName</key>
            <string>atlas_gamepack.pvr</string>
        </dict>
    </dict>
</plist>
