<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,2},{27,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,160}}</string>
                <key>sourceSize</key>
                <string>{27,160}</string>
            </dict>
            <key>btn_achievement.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,160},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>btn_archivement.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
            <key>btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,206},{73,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,50}}</string>
                <key>sourceSize</key>
                <string>{73,50}</string>
            </dict>
            <key>btn_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,281},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>btn_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,227},{185,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,57}}</string>
                <key>sourceSize</key>
                <string>{185,57}</string>
            </dict>
            <key>btn_continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,92},{30,40}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{30,40}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>btn_email.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,140},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
            <key>btn_facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,94},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
            <key>btn_gamecenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,48},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
            <key>btn_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,2},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
            <key>btn_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,339},{34,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{34,36}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>btn_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,48},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>btn_nextstage.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,38},{32,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{32,32}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>btn_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,226},{148,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,58}}</string>
                <key>sourceSize</key>
                <string>{148,58}</string>
            </dict>
            <key>btn_play_now.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{110,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,43}}</string>
                <key>sourceSize</key>
                <string>{110,43}</string>
            </dict>
            <key>btn_replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,48},{36,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{36,38}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>btn_restore.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,376},{110,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,43}}</string>
                <key>sourceSize</key>
                <string>{110,43}</string>
            </dict>
            <key>btn_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,227},{185,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,57}}</string>
                <key>sourceSize</key>
                <string>{185,57}</string>
            </dict>
            <key>btn_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,183},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>btn_store.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,227},{148,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,58}}</string>
                <key>sourceSize</key>
                <string>{148,58}</string>
            </dict>
            <key>btn_title_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,164},{51,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,60}}</string>
                <key>sourceSize</key>
                <string>{51,60}</string>
            </dict>
            <key>btn_unlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{185,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,57}}</string>
                <key>sourceSize</key>
                <string>{185,57}</string>
            </dict>
            <key>btn_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,114},{47,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,32}}</string>
                <key>sourceSize</key>
                <string>{47,32}</string>
            </dict>
            <key>help_ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,377},{128,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{128,48}}</string>
                <key>sourceSize</key>
                <string>{128,50}</string>
            </dict>
            <key>help_touchme.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{86,91}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{86,91}}</string>
                <key>sourceSize</key>
                <string>{92,95}</string>
            </dict>
            <key>icon_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,2},{34,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{34,34}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,377},{35,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,41}}</string>
                <key>sourceSize</key>
                <string>{35,41}</string>
            </dict>
            <key>ropeway1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{143,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,223}}</string>
                <key>sourceSize</key>
                <string>{143,223}</string>
            </dict>
            <key>ropeway2.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,414},{83,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,129}}</string>
                <key>sourceSize</key>
                <string>{83,129}</string>
            </dict>
            <key>selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,2},{179,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,32}}</string>
                <key>sourceSize</key>
                <string>{179,32}</string>
            </dict>
            <key>share_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,2},{38,32}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{38,32}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>ss_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,206},{37,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,54}}</string>
                <key>sourceSize</key>
                <string>{37,54}</string>
            </dict>
            <key>ss_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,104},{37,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,54}}</string>
                <key>sourceSize</key>
                <string>{37,54}</string>
            </dict>
            <key>stop_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,72},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{28,28}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>tab_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{100,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,39}}</string>
                <key>sourceSize</key>
                <string>{100,39}</string>
            </dict>
            <key>tab_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,104},{100,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,39}}</string>
                <key>sourceSize</key>
                <string>{100,39}</string>
            </dict>
            <key>tab_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,2},{100,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,39}}</string>
                <key>sourceSize</key>
                <string>{100,39}</string>
            </dict>
            <key>tab_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,114},{100,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,39}}</string>
                <key>sourceSize</key>
                <string>{100,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_common.pvr</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42c1e6db000658db26c6ee35310ee4c8:1/1$</string>
            <key>textureFileName</key>
            <string>atlas_common.pvr</string>
        </dict>
    </dict>
</plist>
